@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');

/* NAVBAR STYLES */

header {
    background: url(fondo.gif) no-repeat;
    background-size: cover;
    height: 100vh;
}

@media(max-width: 768px) {
  header {
    background-size: cover;
    background-position: center;
  }
}

nav {
  background-color: rgba(16,15,16,255) !important;
}

@media(max-width: 768px) {
  .navbar-brand {
    width: 5rem;
  }
}

.nav-link {
    font-family: 'Source Code Pro', sans-serif;
}

nav a.nav-link {
    font-weight: bold;
}

nav ul li {
    text-transform: uppercase;
}

.navbar-nav > li > a {
    color:deeppink !important;
    margin-right: 0.80rem;
    border-bottom: 0.1875rem solid rgba(255, 255, 255, 0);
}

.navbar-nav > li > .nav-link.active, .navbar-nav > li > .nav-link:focus {
  border-bottom: 0.1875rem solid deeppink !important;
  outline: none;
}

.navbar-nav > li > a:hover {
    transition: .5s;
    border-bottom: 0.1875rem solid deeppink;
    cursor: pointer;
}

/* HEADER STYLES */


.main {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin-top: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Source Code Pro', sans-serif;
}


@media(max-width: 768px) {
  .main {
    margin-top: 200px;
  }
  .main h1 {
    font-size: 1.5rem;
  }
}

.main h1 {
    color: #ffff;
    text-transform: uppercase;
}

.btn-main {
    border: 1px solid deeppink;
    border-radius: 0;
    padding: 0.75rem 0.875rem 0.875rem 0.875rem;
    color:#ffff;
    margin: 2rem;
    text-transform: uppercase;
}

.btn-main:hover {
    color: #000;
    background-color: deeppink;
    transition: .5s;
    cursor: pointer;
    text-decoration: none;
}

/* SOCIAL MEDIA WRAPPER */

.media-wrapper > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.media-wrapper > ul > li {
  list-style: none;
  margin-top: 2rem;
  margin-right: 2rem;
}

.media-list > li > a {
  color:#ffff;
  font-size: 1.875rem;
}

.media-list > li > a:hover {
  color:deeppink !important;
  transition: .5s;
}

/* ABOUT STYLES */

section {
  height: 100vh;
  padding: 4rem;
  font-family: 'Source Code Pro', sans-serif;
  background-color: rgba(16,15,16,255);
}

@media(max-width: 768px) {
  section {
    height: 100%;
    padding: 4rem;
  }
}

.container {
  background-color: transparent;
}

.container h2 {
  color: #ffff;
  text-transform: uppercase !important;
}

.lead {
  color: #ffff;
  text-transform: uppercase;
}

@media(max-width: 768px) {
  
  .container h2 {
    font-size: 1.60rem;
    margin-bottom: 1rem;
  }
  .lead {
    font-size: 1.20rem;
  }
}

.circular--portrait{
 position: relative;
 width: 350px;
 height: 350px;
 overflow: hidden;
 border-radius: 50%;
 margin-left: auto;
 margin-right: auto;
}

@media(max-width: 768px) {
  .circular--portrait {
    width: 200px;
    height: 200px;
    margin-top: 1.50rem;
  }
}

.circular--portrait img {
  width: 100%;
  height: auto;
}
